body {
    background-image: url("img/faded-office.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    color: #020202;
    margin: 75px 0 0 50px;
    width: 250px;
}

.underline {
    border-bottom: 2px solid blue;
}

#chatbtn {
    padding: 20px 40px;
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: #0ea5e9;
    border: none;
    margin-top: 20px;
}